.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.item{
    padding: 20px;
    background-color: white;
    border: 1px solid black;

}
.text{
    padding-top: 20px;
}
